* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  background-color: rgb(2, 107, 2);
  color: white;
  padding: 10px 0;
}

header i {
  font-size: 1.5em;
  margin: auto 15px;
}

#task-input {
  padding: 15px;
  text-align: center;
}

#text-task {
  height: 10vw;
}

#add-task-button {
  height: 10vw;
  padding: 0 4vw;
  font-weight: 900;
  background-color: rgb(2, 107, 2);
  color: white;
}

#lista-tarefas li {
  background-color: white;
  margin: 0 40px;
}

.completed {
  text-decoration: line-through solid black;
}

.not-completed {
  text-decoration: none;
}

section {
  margin: 0 2.5vw;
}

#funcionamento {
  margin: 0 4vw;
}

#buttons-clear {
  text-align: center;
  margin: 5px 0;
}

#apaga-tudo, #remover-finalizados {
  margin: 0 7px;
  height: 10vw;
  padding: 0 4vw;
  font-weight: 900;
  background-color: rgb(2, 107, 2);
  color: white;
}

#apaga-tudo {
  background-color: red;
}
